<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674428428627-ucog8rhibvds868be5go758h58tm6ddn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674428428627-ucog8rhibvds868be5go758h58tm6ddn</string>
	<key>API_KEY</key>
	<string>AIzaSyCt3g0ZxrwUsuDLDGwRHU10IMq6QGaaAwE</string>
	<key>GCM_SENDER_ID</key>
	<string>674428428627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calcTutor</string>
	<key>PROJECT_ID</key>
	<string>ai-calc-tutor</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-calc-tutor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674428428627:ios:6fd6b5a178b80c800301a6</string>
</dict>
</plist>